<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>BoolZapp</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- Intestazione utente-->
            <div class="left">
                <div class="user">
                    <img src="./assets/img/avatar_io.jpg" alt="...">
                    <span>Nicolas De Palma</span>
                    <div class="tag">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <!-- Abilitazioni suoni e notifiche-->
                <div class="sound_notify">
                    <i class="fa-solid fa-bell-slash"></i>
                    <div class="text_sound">
                        <h4>Ricevi notifiche di nuovi messaggi</h4>

                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
                <!-- Ricerca input-->
                <div class="input_search" >
                    <div>
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="search" name="search" id="search" @onkeyup="ricerca(contact)">
                    </div>
                    <!-- Lista conversazioni -->
                </div>
                <div class="main_list_conversation">
                    <ul style="overflow-x: hidden;">
                        <li v-for="(contact, index) in contacts" @click="selectContact(index)">
                            <img :src="src + contact.avatar + extention" alt="...">
                            <div class="text_conversation">
                                <span>{{contact.name}}</span>
                                <p>Ultimo messaggio inviato</p>
                                <p class="ora">12:00</p>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="right">
                <!-- Inizio parte destra con dettagli conversazione chat -->
                <div class="title_conversation user">
                    <img :src="src + contacts[activeContact].avatar + extention" alt="...">
                    <div class="text_conversation">

                        <span>{{contacts[activeContact].name}}</span>
                        <p>Ultimo accesso oggi alle 12:00</p>
                    </div>
                    <div class="right_emoticon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="conversation">
                    <div class="container_2" v-for="text in contacts[activeContact].messages">
                        <div :class="text.status == 'sent' ? 'main_text' : 'auto_text' " :v-model="newMessage">
                            <p>
                                {{text.message}}
                                <br>
                                <small>
                                    {{text.date}}
                                </small>

                            </p>

                        </div>

                    </div>
                </div>
                <div class="input_text_conversation">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder=" Scrivi un messaggio" 
                    v-model="newMessage"
                    @keyup.enter="addMessage(activeContact, newMessage)">
                    
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script src="./assets/js/app.js"></script>
</body>

</html>