/* Utilities */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --title-backgroud: #EAEAEA;
    --sound-backgroud: #8EDAFC;
    --colortaxt-tag: #B1B1B1;
    --bgcolor-text-wha: #D5F9BA;


}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: cadetblue;
}


img {
    max-width: 100%;
    object-fit: contain;
    height: 30px;
}

i{
    color: #B1B1B1;
}

.left img , .right img{
    border-radius: 1rem;
}

.container {
    width: 880px;
    height: 90vh;
    margin: 2rem auto;

    display: flex;
}


.left {
    width: 40%;
    
}

.right {
    width: 60%;

}

/* ************************ */


/* User title */
.user {
    padding: 0.5rem;
}
.tag>i:hover, .right_emoticon>i:hover{
    color: #6d6d6d;
}

.tag>i, .right_emoticon>i {
    padding-left: 0.8rem;
}

.tag {
    position: relative;
    left: 5rem;
}

.right_emoticon{
    position: absolute;
    left: 68rem;
}
.user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--title-backgroud);
}

/* ************************ */

/* Sound notify new message */
.sound_notify {
    background-color: var(--sound-backgroud);
    /* height: 70px; */
    display: flex;
    padding: 1rem;
}

.sound_notify>i{
    background-color: white;
    font-size: 15px;
    text-align: center;
    border-radius: 12rem;
    color: var(--sound-backgroud);
    margin-right: 0.5rem;
    padding: 0.7rem;
    
}


.text_sound{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.sound_notify a{
    color: rgb(103, 103, 103);    
}
/* ************************ */

/* Input search */
.input_search {
    background-color: var(--title-backgroud);
    padding: 0.5rem;
    display: flex;
}

.input_search>div{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.443);
}
.input_search i{
    font-size: 1rem;
    padding: 0.5rem;
   
}
.input_search input{
    width: 18.5rem;
    border: none;
    padding: 0.5rem;
}

/* List name conversation */

.main_list_conversation{
    background-color: white;
    height: calc(100% - 171px);
    overflow-y: auto;
}


.main_list_conversation li{
    padding: 1rem;
    list-style: none;
    display: flex;
}

.main_list_conversation p{
    font-size: 10px;
    color: var(--colortaxt-tag);
}

.text_conversation{
    padding-left: 0.5rem;
    position: relative;
}

.ora{
    position: absolute;
    left: 16rem;
    top: 0;
}

/* ******************* */

.title_conversation{
    padding: 0.5rem;
}

.title_conversation p{
    font-size: 10px;
    color: var(--colortaxt-tag);
}
.input_text_conversation {
    background-color: var(--title-backgroud);
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}


.input_text_conversation>input{
    border: none;
    border-radius: 5px;
    width: 85%;
    height: 35px;
}
.conversation {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 100px);
    background-size: contain;
}

.container_2{
    margin: auto;
    position: relative;
}

.main_text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1.5rem;
    
}

.main_text>p{
    background-color: var(--bgcolor-text-wha);
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 13px;
    border-radius: 0.5rem;
}

.auto_text>p{
    margin-bottom: 0.5rem;
}

.auto_text{
    
    background-color: white;
    border-radius: 0.5rem;
    font-size: 13px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: inline-block;
    margin-bottom: 0.5rem;
    
}

p>small{
    font-size: smaller;
}

